<%= form_with model: @user do |form| %>
  <% @user.errors.full_messages.each do |message| %>
    <div><%= message %></div>
  <% end %> <br>

  <div>
    <%= form.label :username, "Your username" %>
    <%= form.text_field :username %>
  </div> <br>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "example@example.com" %>
  </div> <br>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div> <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
